<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Entry</title>
    <link rel="stylesheet" href="/css/transaction-entry.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    
    <div class="container">
        <%-include('_header')%>
        <h2>Add Expense</h2>
        <div id="transactionForm">
            <input type="number" id="amount" name="amount" required placeholder="Amount">
            <input type="date" id="date" name="date" required>

            <input type="text" id="paidTo" name="paidTo" placeholder="Paid To" list="users">
            <datalist id="users">
                <option value="Deepu Kumar Halwai"></option>
                <option value="Ajay Sharma"></option>
                <option value="Rahul Nigam"></option>
                <option value="Rajendra Patel"></option>
                <option value="Sahil Chourasiya"></option>
                <option value="Rahul Rajak"></option>
                <option value="Atul Vishwakarma"></option>
                <option value="Haseen Khan"></option>
                <option value="Jay Prakash Baghel"></option>
                <option value="Sateesh Parmar"></option>
                <option value="Shrikrishna Pal"></option>
                <option value="Shubham Goswami"></option>
                <option value="Dolly Ahriwar"></option>
                <option value="Nayan Thakur"></option>
                <option value="Nidhi Sen"></option>
                <option value="Piyush Jhariya"></option>
                <option value="Office expenses"></option>
                <option value="Other expenses"></option>
                <option value="GST"></option>
                <option value="Amit Vishwakarma"></option>
                <option value="Ram Raikwar"></option>
                <option value="All"></option>
            </datalist>
            <input type="text" id="notes" name="notes" placeholder="Notes">
            <select id="paymentMethod" name="paymentMethod" required>
                <option value="">Select Payment Method</option>
                <option value="cash">Cash</option>
                <option value="bank">Bank</option>
                <option value="upi">UPI</option>
            </select>
            <button type="button" onclick="addNewTransaction()" class="sticky-button">Add Transaction</button>
        </div>
    </div>
    <script src="/js/transaction-entry.js"></script>
</body>
</html>